.appWrapper {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav main main main";
  /* grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 4fr;
  width: 1200px; */
  margin: 0 auto;
  padding: 0 100px;
}

.app-wrapper-content {
  grid-area: main;
  background-color: palevioletred;
}
