.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialog {
  display: flex;
  margin: 10px;
}
.dialog a {
  margin-left: 10px;
}
.dialogsItems {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dialogsItems a {
  color: #fff;
}

.dialogsItems .active {
  color: gold;
}

.dialog img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: #fff;
}
